DATABASE_URL="postgresql://factory_logger:change-this-password@localhost:5432/factory_logger"
DATABASE_SSL="false"
APP_AUTH_MODE="none"
APP_BASIC_USERNAME=""
APP_BASIC_PASSWORD=""
APP_OPERATOR_PIN=""
APP_ADMIN_PIN=""
