NEXT_PUBLIC_APP_NAME="Factory Activity Logger"
DATABASE_URL=""
DATABASE_SSL="false"
AWS_REGION="ap-southeast-1"
DYNAMODB_LOGS_TABLE="FactoryActivityLogs"
APP_AUTH_MODE="none"
APP_OPERATOR_PIN=""
APP_ADMIN_PIN=""
